/*
========================================
Body
========================================
*/

body {
    background-color: #00d66c;
}

/*
========================================
Form
========================================
*/

main form {
    display: block;
    position: relative;
    width: 100%;
    background: #fff;
    margin: 3rem auto;
    padding: 1.5rem;
    border-radius: 1rem;
    transition: width .2s ease;
}

main legend {
    font-family: NexaBold;
    text-align: center;
    color: #00d66c;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

main form label:not([for="stay"]) {
    display: block;
    position: relative;
    top: -3.2rem;
    left: 0.3rem;
    color: #999;
    font-size: 1.2rem;
    z-index: 1;
    transition: all 0.3s ease;
}

main form label[for="message"] {
    display: block;
    position: relative;
    top: -8rem;
    left: 0.3rem;
    color: #999;
    font-size: 1.2rem;
    z-index: 1;
    transition: all 0.3s ease;
}

main form label {
    font-size: 1.2rem;
    display: inline-block;
}

main form input,
main form textarea {
    display: block;
    position: relative;
    padding: 0.4rem;
    margin-bottom: 1.5rem;
    background: none;
    color: #606060;
    border: .0625rem solid #91a3b7;
    border-radius: .5rem;
    width: 100%;
    font-family: NexaBold;
    font-size: 1.2rem;
    transition: all .2s ease;
    transition: background .8s ease;
    background-image: url(../images/valid-01.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: 125%;
    z-index: 2;
}

main input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

main input:focus,
main input:valid,
main textarea:focus,
main textarea:valid {
    outline: none;
}

main input:focus + label:not([for="stay"]),
main input:valid + label:not([for="stay"]) {
    top: -5.2rem;
    font-size: 1.2rem;
    border-color: #2800a0;
    color: #2800a0;
    transform: scale(1.01, 1.05);
    text-overflow: clip;
    outline: none;
}

main textarea:focus + label,
main textarea:valid + label {
    top: -9.9rem;
    font-size: 1.125rem;
    border-color: #2800a0;
    color: #2800a0;
    transform: scale(1.01, 1.05);
    text-overflow: clip;
    outline: none;
}

main input:valid {
    border-color: #00d66c;
    color: #00d66c;
    background-image: url(../images/valid-01.svg);
    background-repeat: no-repeat;
    background-size: 1.4rem;
    background-position: 95%;
}

main button {
    font-family: NexaLight;
    font-weight: 400;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    background-color: #2800a0;
    box-shadow: inset -0em -0.25rem #19114a;
    padding: 0.5rem;
    border-radius: 5rem;
    color: #ffffff;
    transition: all .2s;
    text-align: center;
}

main button:hover {
    background-color: #5e40b8;
}

main button:focus {
    background-color: #5e40b8;
    outline: none;
}

main button:active {
    box-shadow: inset -0em 0.25rem #19114a;
}

main a {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
}


/*
========================================
@Media
========================================
*/

@media(min-width: 30rem) {
    main form {
        width: 80%;
    }
}

@media(min-width: 50rem) {
    main form {
        width: 55%;
    }
    main legend {
        font-size: 1.5rem;
    }
}

@media(min-width: 80rem) {
    main form {
        width: 40%;
    }
}