/*
========================================
Reset
========================================
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    border-collapse: collapse;
}

:root {
    font-size: 1em;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
========================================
Body style
========================================
*/

@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NexaBold.woff') format('woff'), url('../fonts/NexaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot?#iefix') format('embedded-opentype'), url('../fonts/NexaLight.woff') format('woff'), url('../fonts/NexaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    color: black;
    font-size: 1rem;
    font-family: Nexa;
    background-color: #f3e5d8;
}

body main {
    margin-right: 0vw;
    margin-left: 0vw;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-top: 1rem;
}

footer {
    background-color: #eef3f7;
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    color: #606060;
}

input,
textarea {
    border: solid 0.1rem grey;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
}


/*
========================================
Home
========================================
*/

section:first-child {
    height: 50vh;
    margin-right: -5vw;
    margin-left: -5vw;
    background-image: url(../images/cover-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section:first-child a {
    display: block;
    width: 20rem;
    background-color: #ff3268;
    box-shadow: 0 0.2rem 0#ce2a56;
    padding: 1rem;
    font-family: NexaBold;
    font-size: 1.4rem;
    color: white;
    border-radius: 5rem;
    text-align: center;
    margin: 0 auto;
}

section:first-child h1 {
    font-family: NexaBold;
    margin-bottom: 5rem;
    padding-top: 5rem;
    text-align: center;
    color: white;
}


/*
========================================
Nav style
========================================
*/

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0;
    box-shadow: 0 0.2rem 2rem #606060;
    background-color: white;
    padding: 1rem;
}

nav ul li {
    display: inline-block;
    margin-right: 2rem;
    vertical-align: middle;
}

nav ul li a,
nav ul li input {
    font-family: NexaBold;
    font-size: 1.2rem;
    color: #00d66c;
}

nav img {
    width: 2rem;
}

nav form input {
    width: 15rem;
    height: 2rem;
    padding: 1rem;
    margin-left: 8rem;
    background-image: url(../images/search.png);
    background-position: 12rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    border-radius: 5rem;
}

header nav ul li:nth-last-of-type(4) {
    margin-right: auto;
}


/*
========================================
Filter style
========================================
*/

aside{
    padding-bottom: 2rem;
}

aside ul {
    display: none;
}

aside form a {
    font-family: Nexa;
    display: inline-block;
    background-color: #ff3268;
    box-shadow: 0 0.2rem 0#ce2a56;
    padding: 0.5rem;
    margin-left: 2rem;
    border-radius: 5rem;
    color: #ffffff;
}

aside form:nth-of-type(2) a {
}

aside form:first-of-type a:first-of-type {
    margin-left: 0;
}

#categorie:target {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #eef3f7;
    border-radius: 1rem;
}

#categorie:target input {
    display: inline-block;
}

#categorie:target label {
    display: inline-block;
    margin-top: 0.5rem;
    font-family: NexaBold;
    color: #2800a0;
}

#leesduur:target label {
    display: inline-block;
    margin-top: 0.5rem;
    font-family: NexaBold;
    color: #2800a0;
}

#sorteer:target label {
    display: inline-block;
    margin-top: 0.5rem;
    font-family: NexaBold;
    color: #2800a0;
}

#leesduur:target {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #eef3f7;
    border-radius: 1rem;
}

#sorteer:target {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #eef3f7;
    border-radius: 1rem;
}

aside h3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: NexaBold;
    color: #2800a0;
}

main form:last-of-type{
    margin-top: 1rem;
}
aside>form {
    display: inline-block;
}


/*
========================================
Article style
========================================
*/

section:last-of-type{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: stretch;
}
section>article{
    margin: 1rem;
    width: 25rem;
}

article img {
    width: 2rem;
    margin: 0 1rem 0 1rem;
}

article button {
    background: none;
}

article h2 {
    margin: -1.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #2800a0;
    font-family: NexaBold;
    background-color: #ffffff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

article {
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #eef3f7;
    border-radius: 1rem;
}

time {
    font-family: NexaBold;
    color: #00d66c;
}

article:last-of-type {
    margin-bottom: 2rem;
}

main article a:nth-of-type(2){
    font-family: Nexa;
    float: right;
    display: inline-block;
    background-color: #2800a0;
    box-shadow: 0 0.2rem 0#19114a;
    padding: 0.5rem;
    border-radius: 5rem;
    color: #ffffff;
}
main>section>article>section{
    display: inline-block;
    float: right
}

/*
========================================
Story style
========================================
*/

main>h1 {
    font-family: NexaBold;
    color: #2800a0;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
main>span{
    font-family: NexaBold;
    color: #00d66c;
    margin-left: 2rem;
}
main>span:first-of-type{
    margin: 0;
}
main form:last-of-type input{
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5rem;
}

form button{
    font-family: Nexa;
    display: inline-block;
    background-color: #2800a0;
    box-shadow: 0 0.2rem 0#19114a;
    padding: 0.5rem;
    border-radius: 5rem;
    color: #ffffff;
}