/*
========================================
Story style
========================================
*/

main>h1 {
    font-family: NexaBold;
    color: #2800a0;
}
main>span{
    font-family: NexaBold;
    color: #00d66c;
}
main>span:first-of-type{
    margin: 0;
}
main form:last-of-type input{
    padding: 0.5rem;
    border-radius: 5rem;
}

form button{
    font-family: Nexa;
    display: inline-block;
    background-color: #2800a0;
    box-shadow: 0 0.2rem 0#19114a;
    padding: 0.5rem;
    border-radius: 5rem;
    color: #ffffff;
}